div.video1{padding:20px;}
div.video2{float:left;margin-left:100px;}.
uploader {
	border:2px dashed black;
	color:#92AAB0;
	padding: 10px;
	cursor: pointer;
	font-size: 100%;
	border-radius: 25px;
	margin: auto;
	width: 40%;
}
.uploader.attention{
	border:2px dashed red;
}
.uploader.filecharged{
	border:2px solid red !important;
}