div.video1{padding:20px;}
div.video2{float:left;margin-left:100px;}
.uploader {
	border:2px dashed black;
	color:#92AAB0;
	padding: 10px;
	cursor: pointer;
	font-size: 100%;
	border-radius: 25px;
	border-color: #EEEEEE;
	margin: auto;
	margin-top: 10px;
	width: 40%;
}
.uploader.attention{
	border:2px dashed red;
}
.uploader.filecharged{
	border:2px solid red !important;
}
#uploader .progress{
}
#uploader .percent{
	font-family:'Lobster',cursive;
	color:black;
}
#uploader .abort{
	border-radius:5px;
	background-color:rgb(255,236,50);
}
#uploader .name{
	font-family:'Lobster';
	color:black;
}
#uploader .size{
	font-family:'Lobster';
	color:black;
}
.profile_pic{
	border:1px solid grey;
	margin:10px;
	border-radius:20px;
	width:150px;
	height:150px;
	left:50%;
	margin-left:30px;
}
.barra_lateral{
	background-color:#FFFFFF;
	margin-top:5px;
	margin-left:5px;
}
.popup-background{
	z-index:5;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(50, 50, 50, 0.5);
}
.popup{
	position: relative;
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top: 5%;
	background-color: white;
}

.boton_subir{
	display:none;

}

.boton_subir_colores{
	background-color:#FFF926;
	color:black;
}

.material-icons.md-36:hover{
	font-size: 36px;
}

.boton_subir_colores:hover{
	background-color:#FFF700;
}

.material-icons.elblack{
	color:black;
}
.isotipo{
	background-color:rgb(255,236,50);
	border-radius:10px;
	width:110px;
	margin-top:5px;
	height:55px;
}

.chip_yellow{
	background-color:rgb(255,236,50);
}

h2{
	margin:-10px;
	margin-bottom: 0px;
	text-align:center;
}
